<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Примеры работ по web-разработке. Никита Кутузов</title>
	<link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon.png">
	<link rel="stylesheet" href="css/decreed.css">
	<link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<header id="head">
		<footer id="footer">
			<section id="contacts">
				<!--<h3>Контакты</h3>-->
				<p>Никита Кутузов</p>
				<div>
					<a class="contactLink" id="mailLink" href="mailto:origami1024@gmail.com"><img style="vertical-align: middle" width=18px src="assets/gmail.svg"> <span>origami1024@gmail.com</span></a>
					<a class="contactLink" id="githubLink" href="https://github.com/origami1024"><img style="vertical-align: middle" width=18px src="assets/github-logo.svg"> <span>github.com/origami1024</span></a>
					<a class="contactLink" id="telegramLink" href="https://t.me/origami1024"><img style="vertical-align: middle" width=18px src="assets/tgram.svg"> <span>t.me/origami1024</span></a>
					<a class="contactLink" id="cvLink" href="assets/Резюме Никита Кутузов.docx"><img style="vertical-align: middle" width=18px src="assets/resumeDL.png"> <span>Резюме</span></a>
				</div>
			</section>
		</footer>
	</header>
	<main id="main">
		<h2>Примеры работ по web-разработке</h2>
		<section id="projectsList">
			<a v-for="item in data" :href=item.herf class="projCard" target="_blanc">
				<div>
					<div style="flex: 1; height: 50px; display: flex;">
						<h3>{{ item.name }}</h3>
					</div>
					<img :src=item.pic :alt=item.name>
				</div>
				<div style="flex:1; padding:6px 8px; display: flex; flex-direction: column; justify-content: flex-start">
					<div class="projIdea" style="margin-bottom:8px; text-align:center;">{{item.projectIdea}}</div>
					<div class="jType">
						<div class="techDisplay">
							<span :class="item2.toLowerCase()+' techBadge'" v-for="item2 in item.tech">{{item2}} </span>
						</div>
						<div class="jType" style="color:yellowgreen">
							<span :class="item3.toLowerCase()" v-for="item3 in item.other">{{item3}} </span>
						</div>
					</div>
				</div>
			</a>
		</section>

		<!--background bubbles-->
		<div class="bgBubblesContainer">
			<ul class="bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</main>
	<!--<div class="sectionWrapper">
		<footer id="footer">
			<section id="contacts">
				<h3>Контакты</h3>
				<p>Никита Кутузов</p>
				<a id="mailLink" href="mailto:origami1024@gmail.com"><img width=16px src="assets/gmail.png"></img>origami1024@gmail.com</a>
				<a id="githubLink" href="https://github.com/origami1024"><img width=16px src="assets/github-logo.png"></img>github.com/origami1024</a>
			</section>
		</footer>
	</div>-->
	
	<div class="modalAbout">
		<div class="modalInner">
			
		</div>
	</div>

	
	<script>
		var app = new Vue({
			el: '#projectsList',
			data: {
				data : [
					{
						name: "Доска объявлений",
						herf: "https://mighty-tor-92733.herokuapp.com/",
						projectIdea: "SPA на Heroku",
						tech: ["bootstrap", "JQuery", "Node", "AJAX", "PostgreSQL"],
						other: ["адаптивный"],
						pic: "assets/preview/bulletin.png"
					},
					{
						name: "Basic guest book",
						herf: "guestBook/chat.html",
						projectIdea: "Простое PHP SPA на бесплатном хостинге",
						tech: ["bootstrap", "JQuery", "PHP", "AJAX", "mySQL"],
						other: ["адаптивный"],
						pic: "assets/preview/guestBook.png"
					},
					{
						name: "Generic business landing page",
						herf: "temps/Business/index.html",
						projectIdea: "Верстка по готовому макету PSD",
						tech: ["bootstrap", "JQuery"],
						other: ["адаптивный"],
						pic: "assets/preview/business.png"
					},
					{
						name: "Умный дом. Лента событий",
						herf: "https://origami1024.github.io/News-feed/newsfeed.html",
						projectIdea: "Верстка по готовому макету",
						tech: ["HTML", "CSS", "JS"],
						other: ["адаптивный"],
						pic: "assets/preview/newsfeed.png"
					},
					{
						name: "Умный дом. Сводка действий",
						herf: "https://origami1024.github.io/briefing/briefing.html",
						projectIdea: "Верстка по готовому макету",
						tech: ["HTML", "CSS", "JS"],
						other: ["адаптивный"],
						pic: "assets/preview/briefing.png"
					},
					{
						name: "Safari Tours",
						herf: "temps/SafariTours/home.html",
						projectIdea: "Верстка по готовому макету",
						tech: ["HTML", "CSS", "JS"],
						other: [""],
						pic: "assets/preview/safari.png"
					},
					{
						name: "Restaurant Lambda",
						herf: "temps/restaurant/index.html",
						projectIdea: "Верстка по готовому макету",
						tech: ["HTML", "CSS"],
						other: [""],
						pic: "assets/preview/restaurant.png"
					},
					{
						name: "Acrostia company",
						herf: "temps/acrostia/home.html",
						projectIdea: "Верстка по готовому макету",
						tech: ["HTML", "CSS"],
						other: [""],
						pic: "assets/preview/Acrostia.png"
					}
				]
			},
			computed: {
			}
		})
		

		document.addEventListener("DOMContentLoaded", function(event) { 
			setCardHeights('projIdea')
			setCardHeights('techDisplay')
			countVisitor()
		});
		function setCardHeights(className) {
			//some height fixing stuff
			var ideas = document.getElementsByClassName(className)
			let max = 0
			for (let index = 0; index < ideas.length; index++) {
				const element = ideas[index];
				if (element.offsetHeight>max) {
					max = element.offsetHeight
				}
			}
			for (let index = 0; index < ideas.length; index++) {
				const element = ideas[index];
				element.style.height = max + "px";
			}
		}
		
		function countVisitor() {
			var xhttp = new XMLHttpRequest();
			/*xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				}
			};*/

			xhttp.open("POST", "visitors.php", true);
			xhttp.send('a');
		}
		
	</script>
</body>
</html>