@font-face {
	font-family: "AGAalenBold";
	src: url('assets/AGAalenBold-Roman.woff') format('truetype');
}
@font-face {
	font-family: "AGSouvenir";
	src: url('assets/AGSouvenirCyrRoman.woff') format('truetype');
}
@font-face {
	font-family: "a_BighausTitulBrk";
	src: url('assets/BIGHAU_4.woff') format('truetype');
}
@font-face {
	font-family: "a_cooperblacknr";
	src: url('assets/a_cooperblacknr.woff') format('truetype');
}
@font-face {
	font-family: "AGLettericaBoldBold";
	src: url('assets/ag_letterica_bold.woff') format('truetype');
}
@font-face {
	font-family: "AGForeignerRomanMedium";
	src: url('assets/AG-Foreigner-Roman-Medium.woff') format('truetype');
}
@font-face {
	font-family: "ABodoniNovaNrItalic";
	src: url('assets/a_bodoninovanr_italic-webfont.woff') format('truetype');
}
@font-face {
	font-family: "Colaborate";
	src: url('assets/ColabReg-webfont.woff') format('truetype');
}
@font-face {
	font-family: "ColaborateThin";
	src: url('assets/ColabThi-webfont.woff') format('truetype');
}
@font-face {
	font-family: "AGBenguiatCyrBook";
	src: url('assets/AGBEN8.ttf') format('truetype');
}
@font-face {
	font-family: "A1010Helvetika";
	src: url('assets/A1010Helvetika TYGRA Normal.ttf') format('truetype');
}
@font-face {
	font-family: "MyriadProSemiBold";
	src: url('assets/MyriadPro-Semibold.otf') format('truetype');
}

body{
	margin: 0;
	#overflow-x: hidden;
}
.p1Wrapper{
	background: linear-gradient(to bottom, #d6e6ef, #fff);
}
.p1Container{
	width: 1024px;
	margin: 0 auto;
	background: url("assets/raysBG.png") no-repeat center;
}
#head{
	background: url("assets/nav-bg.png") no-repeat;
	background-position: 4px 0;
	#margin: 0 auto;
	#border: 1px solid;
}
#head nav{
	display: flex;
	padding-right: 125px;
	
	justify-content: space-around;
}
#logo{
	background-color: #e1ecf2;
	border: 7px solid #fff;
	border-radius: 15px;
	transform: rotateZ(-8deg);
	padding: 35px 20px 20px 20px;
	position: relative;
	top: -30px;
	left: 35px;
	text-decoration: none;
	transition-duration: 0.3s;
}
#logo:hover{
	transform: rotateZ(0deg);
}
#logo h2{
	margin: 0;
	font-size: 33px;
	font-family: "AGAalenBold", sans-serif;
	color: rgb(41, 159, 202);
	line-height: 1.576;
	letter-spacing: 1px;
}
#logo p{
	margin: 0;
	font-size: 15px;
	font-family: "Arial";
	color: rgb(41, 159, 202);
	text-align: center;
}
.navA{
	text-decoration: none;
	font-size: 17px;
	font-family: "AGSouvenir";
	color: #fff;
	line-height: 3.059;
	height: 60px;
	transition-duration: 0.75s;
}
.navA:hover{
	#transform: scaleX(1.5);
	transform: rotateZ(360deg);
}
#banner{
	#background: no-repeat, no-repeat;
	#background-position: left 20%, 85%;
	#background-image: url("assets/bannerPlane.png"), url("assets/bannerCloud.png");
	background: url("assets/bannerCloud.png") no-repeat 85%;
	height: 185px;
	width: 500px;
	padding-top: 100px;
	padding-left: 160px;
	position: relative;
	margin-top: 10px;
	z-index: 1;
}
.bannerPackage{
	position: absolute;
	transition-duration: 0.8s;
}
.bPInnerWrap{
	position: relative;
	padding-left: 105px;
}
#bannerPack2, #bannerPack3{
	display: none;
}

.packInvis{
	#transform: translateX(-800px);
	animation-name: getOut;
  	animation-duration: 0.7s;
}
.packVis{
	animation-name: getIn;
  	animation-duration: 0.7s;
}
@keyframes getOut{
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-800px, -200px);
  }
}
@keyframes getIn{
  0% {
    transform: translate(800px, -200px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.bannerPackage img{
	position: absolute;
	top: -69px;
	left: -162px;
}
#banner h2{
	font-size: 51px;
	font-family: "a_BighausTitulBrk";
	color: rgb(18, 126, 165);
	font-weight: bold;
	line-height: 1.02;
	text-align: center;
	margin: 0;
}
#banner h3{
	font-size: 25px;
	font-family: 'a_cooperblacknr', arial;
	font-weight: 900;
	color: rgb(222, 217, 14);
	line-height: 1.16;
	text-align: center;
	margin: 0;
}
.banner__carouBtn{
	cursor: pointer;
	border: 0;
	background-color: transparent;
	position: absolute;
}
#bannerBtnLeft{
	background-image: url("assets/bannerArrLeft.png");
	width: 46px;
	height: 46px;
	left: 20px;
	bottom: 45px;
}
#bannerBtnRight{
	background-image: url("assets/bannerArrRight.png");
	width: 42px;
	height: 42px;
	left: 80px;
	bottom: 20px;
}
#oBooking{
	z-index: 2;
	margin-top: -50px;
	border: 7px solid #7ebee0;
	border-radius: 15px;
	padding: 26px 33px 0 0;
	width: 282px;
	color: white;
	display: flex;
	flex-direction: column;
	padding-bottom: 110px;
	background: #299fca url("assets/ladder.png") no-repeat 10% bottom;
}
.hBooking{
	background-color: #ded90e;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 40px;
	margin: 0;
	line-height:40px;
	margin-bottom: 33px;
	position: relative;
	left: -18px;
	box-shadow: 0px 0px 2px 1px rgba(22,88,166,0.6);
	padding-left: 19px;
	font-size: 21px;
	font-family: "AGLettericaBoldBold";
	width: 190px;
}
.hBooking:after{
	content: '';
	background-color: #ded90e;
	width: 30px;
	height: 20px;
	transform: skewX(-45deg);
	position: absolute;
	right: -15px;
	top: 0;
	box-shadow: 2px -2px 2px -1px rgba(22,88,166,0.6);
}
.hBooking:before{
	content: '';
	background-color: #ded90e;
	width: 30px;
	height: 20px;
	transform: skewX(45deg);
	position: absolute;
	right: -15px;
	bottom: 0;
	box-shadow: 2px 2px 2px -1px rgba(22,88,166,0.6);
}
.oBLine{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 13px;
}
.oBLine input, select{
	border: 3px solid #a7d1e6;
	border-radius: 5px;
	margin-left: 10px;
	height: 25px;
	width: 145px;
	font-size: 15px;
	font-family: "AGForeignerRomanMedium";
	color: rgb(41, 159, 202);
	text-align: center;
	padding: 0 10px;
}
.oBLine span {
	font-size: 17px;
	font-family: "AGForeignerRomanMedium", sans-serif;
	text-align: right;
	line-height: 31px;
	text-shadow: 0px 0px 4px #347;
}
.oBLine select{
	box-sizing: content-box;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 42px;
	width: 115px;
	background-color: white;
	background-image: url("assets/dropbox.png");
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
}
.oBLine select:after{
	content: "A";
	top:0px;
	left: 10px;
	position: absolute;
	z-index: 100;
}
.oBLine textarea{
	border: 3px solid #a7d1e6;
	border-radius: 5px;
	margin-left: 10px;
	height: 50px;
	width: 145px;
	font-size: 15px;
	font-family: "AGForeignerRomanMedium";
	color: rgb(41, 159, 202);
	text-align: center;
	padding: 5px 10px;
	resize: none;
}
.btnSubmit{
	height: 33px;
	padding: 0 25px;
	border: 0;
	border-radius: 5px;
	background-color: #f7eb07;
	cursor: pointer;
	font-size: 15px;
	font-family: "AGLettericaBoldBold";
	color: rgb(100, 175, 252);
	margin-left: auto;
	margin-right: 0;
	position: relative;
	z-index: 10;
}
#main{
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 26px;

}
.p1Wrapper1_5{
	background: url("assets/backClouds.png") no-repeat;
	background-size: 100% auto;
	height: 220px;
	z-index: 0;
	margin-top: -216px;
}
.p1Wrapper1_75{
	background: url("assets/frontCloud.png") no-repeat;
	background-size: 100% auto;
	height: 163px;
	margin-top: -156px;
	pointer-events: none;
	z-index: 3;
	position: relative;
}
@media screen and (max-width:1280px){
	.p1Wrapper1_5{
		background-size: 1280px auto;
	}
	.p1Wrapper1_75{
		background-size: 1280px auto;
	}
}
.p1_90Wrapper{
	height: 80px;
	background: linear-gradient(180deg, #127ea5, #d6e6ef);
}
.p2_90Wrapper{
	height: 80px;
	background: linear-gradient(180deg, #d6e6ef, #127ea5);
}
.p1Wrapper2{
	z-index: 3;
	position: relative;
	background-color: #127ea5;
	padding-bottom: 15px;
	#background: url("assets/frontCloud.png"), url("assets/backClouds.png");
	#background-position: left 68px, left top;
	#background-repeat: no-repeat, no-repeat;
	#margin-top: -136px;	
	
}
#p1Bottom{
	display: flex;
	flex-direction: column;
	#justify-content: space-between;
	padding-right: 24px;
	padding-left: 30px;
	color: white;
	width: 970px;
	margin: 0 auto;
	#padding-top: 166px;
	z-index: 3;
}
#p1BottomWrap{
	display: flex;
	justify-content: space-between;
}
#specialOffers{
	width: 330px;
}
#p1Bottom h2{
	font-size: 29px;
	font-family: "ABodoniNovaNrItalic", arial;
	#line-height: 1.793;
	margin: 0;
}
.oSOCDottedBotton{
	border-bottom: 2px dotted white;
}
.oSOCard{
	margin-top: 23px;
	padding-right: 6px;
	padding-bottom: 18px;
}
.oSOCard:last-child{
	border-bottom: 0;
}
.oSOCTopRight{
	padding-left: 12px;
}
.oSOCTop{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.oSOCard h3{
	font-size: 17px;
	font-family: "Colaborate", sans-serif;
	line-height: 1.2;
	text-align: left;
	margin: 0;
	margin-bottom: 5px;
}
.oSOCard p{
	font-size: 15px;
	font-family: "ColaborateThin", sans-serif;
	line-height: 1.333;
	text-align: left;
	margin: 0;
}
.oSOCard span{
	font-size: 27px;
	font-family: "AGBenguiatCyrBook";
	margin-right: 18px;
	#line-height: 1.926;
}
.oSOCBot button{
	height: 27px;
	padding: 0 11px;
	border: 0;
	border-radius: 5px;
	background-color: #f7eb07;
	cursor: pointer;
	font-size: 15px;
	font-family: "AGLettericaBoldBold";
	color: rgb(100, 175, 252);
}
.oSOCBot{
	display: flex;
	justify-content: flex-end;
}
#tabs{
	margin-top: 12px;
}
#tabsHeader{
	border-bottom: 1px solid #81ffff;
	position: relative;
	margin-right: 30px;
	margin-bottom: 16px;
}
#SSOffer{
	content: url("assets/SSOffer.png");
	position: absolute;
	right: 0;
	top: -66px;
}
.tabActive{
	background-color: #81ffff;
	border: 0;
	width: 117px;
	height: 29px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: "A1010Helvetika", sans-serif;
	color: rgb(18, 126, 165);
	margin-right: 3px;
	cursor: pointer;
}
.tabInactive{
	background-color: #299fca;
	border: 0;
	width: 117px;
	height: 29px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: "A1010Helvetika", sans-serif;
	color: #81ffff;
	cursor: pointer;
}
#tabs table{
	font-size: 16px;
	font-family: "ColaborateThin", sans-serif;
	line-height: 1.5;
}
#tabs table tr td:first-child a{
	content: url("assets/arro.png");
	padding-left: 4px;
}
#tabs table tr td:nth-child(2){
	padding-right: 55px;
	padding-left: 7px;
}
#tabs table tr td:nth-child(3){
	padding-right: 65px;
}
#tabs table a{
	text-decoration: none;
	color: white;
}
#tabs table a:hover{
	color: yellow;
}
.p2Wrapper{
	background: #d6e6ef;
	padding-top: 18px;
}
.XXXp2Wrapper:hover{
	background: #d6e6ef url("assets/mapBG.png") no-repeat center;
}
.mArea{
	cursor: pointer;
	position: absolute;
	#border: 1px dotted red;

}
#mAfrica{
	width: 180px;
	height: 200px;
	left: 430px;
	top: 270px;
}
#mSA{
	width: 140px;
	height: 200px;
	left: 260px;
	top: 335px;
}
#mNA{
	width: 300px;
	height: 256px;
	left: 40px;
	top: 75px;
}
#mAustralia{
	width: 220px;
	height: 160px;
	left: 740px;
	top: 350px;
}
#mEurope{
	width: 160px;
	height: 138px;
	left: 450px;
	top: 130px;
}
#mAsia{
	width: 380px;
	height: 268px;
	left: 612px;
	top: 80px;
}
#mEastAsia{
	width: 70px;
	height: 80px;
	left: 575px;
	top: 255px;
}
#p2Map{
	width: 1024px;
	min-width: 1024px;
	height: 590px;
	position:relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: url("assets/mapBGAfrica.png") no-repeat center;
}
#p2Map h2{
	margin: 0 auto;
	color: #4690b4;
	font-size: 27px;
	font-family: "AGLettericaBoldBold";
}
#p2Map h5{
	margin: 0 auto;
	color: #6ab5d0;
	font-size: 17px;
	font-family: "AGLettericaBoldBold";
}
#mapPopup{
	background-color: #fbf8f8;
	border: 1px solid white;
	border-radius: 5px;
	padding: 20px 9px 20px 12px;
	width: 227px;
	position: relative;
	z-index: 3;
}
#mapPopup h4{
	font-size: 23px;
	font-family: "ColaborateThin";
	color: rgb(125, 125, 125);
	line-height: 1.2;
	text-align: center;
	margin: 0;
}
#mapOffersWrapper{
	height: 210px;
	#overflow-y: scroll;
}
.mOCard{
	display: flex;
	margin-bottom: 13px;
	margin-right: 18px;
}
.mOCard img{
	width: 73px;
	height: 55px;
	margin-right: 7px;
}
.mOCard h3{
	font-size: 17px;
	font-family: "Colaborate";
	line-height: 1.2;
	text-align: left;
	margin: 0;
	margin-bottom: 5px;
}
.mOCard h3 a{
	text-decoration: none;
	color: rgb(164, 164, 164);
}
.mOCard p{
	font-size: 14px;
	font-family: "ColaborateThin";
	color: rgb(164, 164, 164);
	line-height: 1.214;
	text-align: left;
	margin: 0;
	height: 33px;
	overflow-y: hidden;
}
.mPArrow{
	width: 0;
	height: 0;
	position: absolute;
	bottom: calc(50% - 30px);
}
.triangleRight {
	right: -30px;
	border-top: 30px solid transparent;
	border-left: 30px solid #fbf8f8;
	border-bottom: 30px solid transparent;
}
.triangleLeft {
	left: -30px;
	border-top: 30px solid transparent;
	border-right: 30px solid #fbf8f8;
	border-bottom: 30px solid transparent;
}
#mapPopupWrap{
	position: absolute;
	left: 160px;
	top: 200px;
}
.footerWrapper{
	background: #1a90ba;
	
	color: white;
	border-top: 2px solid #127ea5;
	padding-bottom: 10px;
}
#footer{
	width: 1024px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-right: 75px;
}
.footColumn{
	padding: 20px 30px 0px 30px;
}
.footColumn h2{
	font-size: 25px;
	font-family: "ColaborateThin";
	text-shadow: 2px 2px 0px rgba(15, 111, 146, 0.9);
	margin: 0;
}
#subscrForm{
	display: flex;
	justify-content: space-between;
	margin: 12px 0 19px 0;
}
.inputWrap input{
	border-radius: 5px;
	font-size: 14px;
	font-family: "ColaborateThin";
	color: white;
	line-height: 1.214;
	background-color: #0f6685;
	height: 29px;
	padding: 0 12px;
	border: 0;
	width: 167px;
	outline: none;
}
.inputWrap input::placeholder{
	color: rgba(255, 255, 255, 0.329);
}
.inputWrap{
	border-radius: 5px;
	margin-right: auto;
	margin-left: 0;
	margin-bottom: 11px;
	padding: 2px;
	background: linear-gradient(180deg, #12495d, #539cb6);	
}
.footBtn{
	background: #d6e6ef;
	color: #1380a7;
	border-radius: 7px;
	height: 33px;
	border: 0;
	font-size: 16px;
	font-family: "Colaborate";
	cursor: pointer;
	width: 91px;
}
#subBtn{
	margin-left: 11px;
}
#contactBtn{
	align-self: flex-end;
}
.footerSM{
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
}
#fSMTwitter{
	background: #3bb3de url("assets/linkTT.png") center no-repeat;
}
#fSMFB{
	background: #3bb3de url("assets/linkFB.png") center no-repeat;
}
#fSMIn{
	background: #3bb3de url("assets/linkIN.png") center no-repeat;
}
#footSubSMh2{
	margin-bottom: 15px;
}
#fCCU{
	margin-top: 12px;
}
.footColumn p, .footColumn table td{
  font-size: 14px;
  font-family: "ColaborateThin";
  line-height: 2;
}
#fC2{
	min-width: 230px;
}
#contactForm{
	margin-top: 12px;
	display: flex;
	flex-direction: column;
}
#contactForm input:focus{
	background-color: white;
}
#footerCFMSG{
	resize: none;
	border-radius: 5px;
	font-size: 14px;
	font-family: "ColaborateThin";
	color: white;
	line-height: 1.214;
	background-color: #0f6685;
	padding: 10px 12px;
	border: 0;
	outline: none;
	margin-bottom: -4px;
	width: 280px;
}
#footerCFMSG::placeholder{
	color: rgba(255, 255, 255, 0.329);
}
.footerWrapper h3{
  font-size: 14px;
  font-family: "ColaborateThin";
  line-height: 1.929;
  text-align: center;
  margin: 0;
  font-weight: 300;
}
.p3Wrapper{
	background-color: #127ea5;
	color: white;
}
.p3_25Wrapper{
	background-color: #d6e6ef;
	padding-top: 30px;
}
#p3Top{
	width: 1024px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 40px 20px 0 20px;
}
#p3Middle{
	display: flex;
	#justify-content: space-between;
	width: 1024px;
	margin: 0 auto;
	padding: 0px 10px;
}
#p3Main{
	display: flex;
	justify-content: space-between;
	flex-shrink: 3;
	flex-wrap: wrap;
	padding-top: 12px;
}
#p3DestAside{
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	margin-left: 20px;
}
.p3Card{
	width: 217px;
	margin-bottom: 40px;
	position: relative;
}
.v2{
	width: 300px;
}
.p3Card h3{
	font-size: 21px;
	font-family: "ABodoniNovaNrItalic";
	color: rgb(149, 149, 149);
	line-height: 2.3;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	margin: 0;
	padding: 0 5px;
}
.p3Card p{
	font-size: 15px;
	font-family: "Colaborate";
	color: rgb(115, 122, 112);
	line-height: 1.2;
	margin: 0;
	margin-bottom: 12px;
	padding: 0 5px;
}
.p3Card a{
	text-decoration: none;
	font-size: 15px;
	font-family: "AGLettericaBoldBold";
	background: linear-gradient(180deg, #1ca7d9, #127fa6);
	width: 101px;
	height: 27px;
	line-height: 27px;
	border-radius: 5px;
	color: white;
	display: block;
	text-align: center;
	margin: 0 5px;
}
.p3Dest{
	border: 7px solid #7ebee0;
	background: linear-gradient(135deg, #127ea5, #3ba2cd); 
	#127ea5;
	width: 200px;
	height: 350px;
	margin-bottom: 18px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	padding-top: 16px;
}
.p3Dest a{
	font-size: 15px;
	font-family: "ColaborateThin";
	color: white;
	margin: 6px 0;
	text-decoration: none;	
}
.p3Dest h4{
	margin: 0;
	text-transform: uppercase;
	background: linear-gradient(180deg, #f5ed49, #e1d617);
	padding: 9px 0 6px 0;
	padding-left: 25px;
	align-self: flex-start;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	width: 200px;
	font-size: 16px;
	font-family: "MyriadProSemiBold";
	color: rgb(52, 171, 214);

}
.p3DestHeaderBorderWrap{
	left: -48px;
	position: relative;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 225px;
	margin-bottom: 20px;
	padding: 1px;
	background: linear-gradient(180deg, #fefcc9, #dcd437);
	box-shadow: 0 3px 0 0 rgba(10,80,60, 0.75);
	#0d5e7c
}
.p3DestHeaderBorderWrap:before{
	content: '';
	width: 11px;
	height: 13px;
	background-color: #e1d617;
	position: absolute;
	bottom: -12px;
	left: 0;
}
.p3DestHeaderBorderWrap:after{
	content: '';
	width: 11px;
	height: 24px;
	background-color: #807a0a;
	position: absolute;
	bottom: -24px;
	left: 0;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
	box-shadow: inset 0 3px 0 0 #605b07;
}
.p3Card:hover img{
	filter:saturate(2);
}
.p3Card:hover .plus{
	display: block;
}
.plus{
	width: 46px;height: 46px;
	left: 86px;
	top: 47px;
	border-radius: 50%;
	border: 2px solid white;
	position: absolute;
	display: none;
}
.sp1{
	width: 22px;
	background-color: white;
	height: 2px;
	position: absolute;
	top: calc(50% - 1px);
	left: calc(50% - 11px);
}
.sp2{
	width: 2px;
	height: 22px;
	background-color: white;
	position: absolute;
	top: calc(50% - 11px);
	left: calc(50% - 1px);
}
